<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>CineTor</title>

<style>
body { background:#0f0f0f; color:white; font-family:Arial; }

.hero { text-align:center; padding:40px; }

.search input {
  width:70%; padding:12px; border-radius:20px;
}

.search button {
  padding:12px; border-radius:20px;
  background:#e50914; color:white; border:none;
}

.row {
  display:flex; overflow-x:auto;
}

.card {
  width:150px; margin:10px;
}

.card img {
  width:100%; border-radius:10px;
}
</style>
</head>

<body>

<div class="hero">
  <h1>CineTor 🍿</h1>

  <form class="search">
    <input name="q" placeholder="Buscar filme..." value="{{ request.args.get('q','') }}">
    <button>Buscar</button>
  </form>
</div>

{% for lista in listas %}

<h3>{{ lista.titulo }}</h3>

<div class="row">

{% for filme in lista.filmes %}
{% if filme.poster_path %}

<a href="/filme/{{ filme.id }}">
<div class="card">
  <img src="{{ img }}{{ filme.poster_path }}">
  <p>{{ filme.title }}</p>
</div>
</a>

{% endif %}
{% endfor %}

</div>

{% endfor %}

</body>
</html>
